<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>HelloWorldServlet</servlet-name>
        <servlet-class>servlets.HelloWorldServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SimpleCounterServlet</servlet-name>
        <servlet-class>servlets.SimpleCounterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InitCounterServlet</servlet-name>
        <servlet-class>servlets.InitCounterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InitConfigFileCounterServlet</servlet-name>
        <servlet-class>servlets.InitConfigFileCounterServlet</servlet-class>
        <init-param>
            <param-name>initial_counter_value</param-name>
            <param-value>50</param-value>
            <description>Valeur initiale du compteur</description>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>UIFormServlet</servlet-name>
        <servlet-class>servlets.UIFormServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HelloWorldPrintWriter</servlet-name>
        <servlet-class>servlets.HelloWorldPrintWriter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendRedirectServlet</servlet-name>
        <servlet-class>servlets.SendRedirectServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DownloadFileServlet</servlet-name>
        <servlet-class>servlets.DownloadFileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PullClientServlet</servlet-name>
        <servlet-class>servlets.PullClientServlet</servlet-class>
        <init-param>
            <param-name></param-name>
            <param-value>10</param-value>
            <description>Valeur initiale du compteur</description>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>HelloWorldServlet</servlet-name>
        <url-pattern>/HelloWorldServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SimpleCounterServlet</servlet-name>
        <url-pattern>/SimpleCounterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InitCounterServlet</servlet-name>
        <url-pattern>/InitCounterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InitConfigFileCounterServlet</servlet-name>
        <url-pattern>/InitConfigFileCounterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UIFormServlet</servlet-name>
        <url-pattern>/UIFormServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HelloWorldPrintWriter</servlet-name>
        <url-pattern>/HelloWorldPrintWriter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendRedirectServlet</servlet-name>
        <url-pattern>/SendRedirectServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DownloadFileServlet</servlet-name>
        <url-pattern>/DownloadFileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PullClientServlet</servlet-name>
        <url-pattern>/PullClientServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
